<!-- este bloque de codigo es usando directamente el objeto "formControl", sin formGroup
el tag html se bindea con la clase declarando un objeto del tipo formControl en la clase 
<label class="ms-4 mt-4" for="nombre">Nombre </label>
<input class="ms-2 mt-4" type="text" id="nombre" [formControl]="nombre">

<p class="ms-4 mt-4">{{nombre.value}}</p>
-->
<!-- ojo que esto funciona bien porque no está dentro de un formulario.-->
<!-- cuando está dentro de un formulario, el formulario debe estar asociado  -->
<!-- a un formGroup-->

<form [formGroup]="contactForm" class="ms-5 me-5 mt-5">

  <div class="form-group">
    <img [src]="contactForm.value.picture" alt="">
    <input type="file" accept=".png, .jpg, .jpeg" (change)=addImage($event) width="10">
  </div>

  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" formControlName="nombre">
    <ng-container *ngIf="!contactForm.get('nombre')?.valid">
      <i>Este campo es requerido!</i>
    </ng-container>
  </div>

  <div class="form-group">
    <label for="apellido">Apellido</label>
    <input type="text" class="form-control" id="apellido" formControlName="apellido">
    <ng-container *ngIf="!apellido!.valid">
      invalido
      <p *ngIf="apellido?.errors?.['required']" class="error-message">
        <i>Este campo es requerido!</i>
      </p>
      <p *ngIf="apellido?.errors?.['minlength']" class="error-message">
        Este campo requiere al menos dos caracteres!!
      </p>
    </ng-container>
  </div>

  <div class="form-group" formGroupName="phone">

    <label for="type">Tipo telef.</label>
    <input type="text" class="form-control" id="type" formControlName="type">
    <ng-container *ngIf="!phoneForm.get('type')?.valid">
      <i>Este campo es requerido!</i>
    </ng-container>
    <br>
    <label for="number">Número telef.</label>
    <input type="text" class="form-control" id="number" formControlName="number">
    <ng-container *ngIf="!phoneForm.get('number')?.valid">
      <i>Este campo es requerido!</i>
    </ng-container>

  </div>

  <div class="form-group">
    <label for="edad">Edad</label>
    <input type="text" class="form-control" id="edad" formControlName="edad">
  </div>
  <div class="form-group">
    <label for="direccion">Dirección</label>
    <input type="text" class="form-control" id="direccion" formControlName="direccion">
  </div>

  <button type="submit" class="btn btn-primary mt-3" [disabled]="contactForm.invalid">Enviar</button>
  <!-- <button type="submit" class="btn btn-primary mt-3">Enviar</button> -->
</form>